*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  height: 534px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: end;
  margin: 333px 390px;
}

.result {
  width: 711px;
  height: 456px;
  margin-top: 78px;
  display: grid;
  grid-template-rows: 386px auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-right: 0;
  border-left: 0;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  margin: 1.5px 5px 1.5px 0;
  flex-shrink: 0;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: white;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-position: under;
}

.button {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 259px;
  height: 210px;
  font-size: 75px;
  font-family: "Oswald";
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.content__list {
  display: grid;
  gap: 20px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.content__list-item:active {
  background-color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin-top: 30px;
  width: 390px;
  height: 34px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
